.text-field {
  &__container {
    display: grid;
    grid-column-gap: 0.25rem;
    grid-template-columns: 1fr 4fr;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.5rem;
  };
};
